fastapi~=0.111.1
uvicorn[standard]~=0.29.0
sqlalchemy>=2.0.0
pydantic>=2.7.0,<3.0
pandas>=2.0.0
numpy>=1.26.0
scikit-learn>=1.2.0
joblib>=1.2.0
websockets>=11.0
requests>=2.28.0
python-dotenv~=0.19.2
python-multipart>=0.0.6
structlog>=24.1.0
